body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-image: radial-gradient(circle, #eb6666, #973838);
}

.Title {
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: transform 0.64s ease;
}

.Title:hover {
    transform: scaleY(1.14);
}

#h3Id {
    font-family: 'sansSodo', sans-serif;
    font-size: 35px;
    margin-top: 15px;
}

#Styletxt {
    font-size: 25px;
    text-decoration: underline;
    margin-top: 0;
}

input[type="file"] {
    display: none;
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9b0b3b;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: background-color 0.5s ease-out, transform 0.5s ease;
    box-shadow: 9px 8px 25px rgba(0, 0, 0, 0.5);
}

.file-label:hover {
    background-color: #bb0d47;
    transform: scaleY(1.1) rotate(2deg);
}

#fileName {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-style: italic;
    font-size: 17px;
    color: #333;
}

#convertBtn, #convertToWordBtn, #convertToOpenOfficeBtn {
    padding: 10px 20px;
    background-color: #5c272a;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 13px;
    margin-bottom: 10px; /* Dodano margines dolny dla równowagi */
    transition: background-color 0.5s ease-out, transform 0.5s ease;
    box-shadow: 9px 8px 25px rgba(0, 0, 0, 0.5);
}

#convertBtn:hover, #convertToWordBtn:hover, #convertToOpenOfficeBtn:hover {
    background-color: #81373b;
    transform: scaleY(1.12) rotate(-2deg);
}
